html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: Gilroy;
  src: url("fonts/Gilroy-Regular.otf");
}
@font-face {
  font-family: Gilroy;
  src: url("fonts/Gilroy-MediumItalic.otf");
  font-style: italic;
}
@font-face {
  font-family: Century;
  src: url("fonts/CenturySchoolbook-Roman.otf");
}
@font-face {
  font-family: Century;
  src: url("fonts/CenturySchoolbook-Italic.otf");
  font-style: italic;
}
@font-face {
  font-family: Century;
  src: url("fonts/CenturySchoolbook-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: Century;
  src: url("fonts/CenturySchoolbook-BoldItalic.otf");
  font-style: italic;
  font-weight: bold;
}

b {
    font-family: Century;
    font-weight: bold;
}

#back_button {
    width: min(15vw, 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-color: #d3d3d5;
    position: absolute;
    left: min(5%, 25px);
    top: min(5%, 25px);
    border-radius: 50%;
}

#back_button:hover {
    background-color: #bfbfc1;
    cursor: pointer;
}

#back_button > img {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    transform: translateX(-2px);
}

#account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(15vw, 60px);
    aspect-ratio: 1;
    position: absolute;
    right: min(5%, 25px);
    top: min(5%, 25px);
    
}

#back-circle {
    z-index: 100;
    position: absolute;
    width: inherit;
    aspect-ratio: 1;
    background-color: #d3d3d5;
    border-radius: 50%;
}

#account > img {
    z-index: 101;
    width: calc(100% - 5px);
    height: calc(100% - 5px);
}

#info {
    position: absolute;
    width: calc(100% + 40px);
    border-radius: 10px 0 0 10px;
    height: min(15vw, 60px);
    background-color: #aaa;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    font-family: Century;
    font-size: clamp(1.8rem, 2.5vw, 2rem);
    padding: 10px;
    box-sizing: border-box;
}

#heading {
    position: relative;
    transform: translateY(-10px);
    font-size: clamp(1.8rem, 4.5vw, 5.5rem);
    white-space: nowrap;
}

#heading:before {
    content: "№10";
    font-family: Gilroy;
}

#heading:after {
    content: " «Регистрация пользователей»";
    font-family: Gilroy;
    font-style: italic;
}

#box {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 80%;
    height: 70%;
    background-color: #f2f2f4;
    border-radius: 40px;
    gap: min(15px, 1%);
}

#list-wrapper {
    position: relative;
    height: max(65%, 300px);
    overflow: auto;
}

#list {
    background-color: #fff;
    font-size: clamp(1.4rem, 2.5vw, 1.8rem);
    overflow: scroll;
}

th, td {
    width: 100px;
}

@media only screen and (max-width: 500px) {
}